// 覆盖代码展示组件内置样式
.demo-block-control {
  left: auto !important;
}

.is-fixed {
  position: relative !important;
  bottom: auto !important;
  width: auto !important;
}

table {
  margin: 0 !important;
}

.el-table {
  table,
  th,
  td {
    border: 0;
    
  }
}

.el-table {
  tbody, tr {
    background-color:#fff !important;
  }  
}
