// 覆盖代码展示组件内置样式
.demo-block-control {
  left: auto !important;
}

.is-fixed {
  position: relative !important;
  bottom: auto !important;
  width: auto !important;
}

table {
  width:100% !important;
  display: null !important;
}
